@page "/customers/{country?}"
@inject INorthwindService _service

<h3>Customers @(string.IsNullOrWhiteSpace(Country) ? "Worldwide" : "in " + Country)</h3>

@if (customers is null)
{
    <p><em>Loading...</em></p>
}
else if (!customers.Any())
{
    <p><em>No customers found.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Company Name</th>
                <th>Contact Name</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.CustomerID</td>
                    <td>@customer.CompanyName</td>
                    <td>@customer.ContactName</td>
                    <td>@customer.Country</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter]
    public string? Country { get; set; }
}
